.section-7 {
  background-image: url(../images/car.jpg);
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.section-7__wrapper h3 {
  color: #fff;
  font-family: DM Serif Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.section-7__info p {
  margin-top: 170px;
  margin-bottom: 10px;
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.section-7__info input {
  width: 958px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e5e5e5;
  border: none;
  padding-left: 27px;
}
.section-7__wrapper {
  padding: 50px 40px;
}
.section-7__info button {
  width: 170px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #21408e;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .section-7 {
    height: 300px;
  }
  .section-7__wrapper h3 {
    color: #fff;
    font-family: DM Serif Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .section-7__info p {
    margin-top: 100px;
    color: #fff;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .section-7__wrapper {
    padding: 33px 12px;
  }
  .section-7__info button {
    width: 55px;
    height: 21px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 10px;
    background: #21408e;
  }
  .section-7__info input {
    padding-left: 14px;
    border-radius: 10px;
    background: #e5e5e5;
    width: 250px;
    height: 27px;
    flex-shrink: 0;
  }
}
