.section-2 {
  width: 1296px;
  height: 315px;
  flex-shrink: 0;
  background: #c4c4c4;
  margin: 0 auto;
  padding-left: 46px;
  padding-top: 30px;
}
.section-2__info h3 {
  color: #081630;
  font-family: DM Serif Display;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.section-2__info p {
  color: rgba(0, 0, 0, 0.66);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 754.238px;
  height: 84px;
  flex-shrink: 0;
  margin: 10px 0 30px 0;
}
.section-2__book {
  display: flex;
  gap: 40px;
}
.section-2__dumaloq {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 309.545px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #fff9f9;
}
.section-2__dumaloq-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 309.545px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #fff9f9;
}
.section-2__dumaloq-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 309.545px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #fff9f9;
}
.section-2__book button {
  width: 152.775px;
  height: 60px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 26px;
  background: #21408e;
}
@media screen and (max-width: 767px) {
  .section-2__info h3 {
    color: #081630;
    font-family: DM Serif Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .section-2__info p {
    color: rgba(0, 0, 0, 0.66);
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 289px;
    height: 50px;
    flex-shrink: 0;
    margin: 5px 0 5px 0;
  }
  .section-2 {
    padding: 30px 12px;
    width: 360px;
    height: 140px;
    flex-shrink: 0;
  }
  .section-2__book {
    gap: 20px;
  }
  .section-2__dumaloq {
    width: 69px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #fff9f9;
  }
  .section-2__dumaloq-2 {
    width: 69px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #fff9f9;
  }
  .section-2__dumaloq-3 {
    width: 69px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #fff9f9;
  }
  .section-2__book button {
    width: 43px;
    height: 16px;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .section-2__dumaloq svg {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
  }
  .section-2__dumaloq-2 svg {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
  }
  .section-2__dumaloq-3 svg {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
  }
}
